{{outlet}}

{{#each model as |restaurant| }}
  <div class="media search-result">
    <div class="media-left">
       <div class="search-result-image-wrapper">
        <a href="#">
          {{#link-to "detail" restaurant.place_id}}
            {{#if restaurant.photo.src}}
              <img class="media-object" src="{{restaurant.photo.src}}">
            {{else}}
              <span class="no-image-thumbnail">
                <span class="glyphicon glyphicon-picture"></span>
                <small class="message">No images</small>
              </span>
            {{/if}}
          {{/link-to}}
        </a>
      </div>
    </div>
    <div class="media-body">
      <!-- search result -->
      <div class="search-result-body">
        <div class="search-result-main">
          <h4 class="media-heading">
            {{#link-to "detail" restaurant.place_id}}
              {{restaurant.name}}
            {{/link-to}}
            <small>(
              {{#if restaurant.open }}
                open
              {{else}}
                closed
              {{/if}}
              )
            </small>
          </h4>
          {{rating-static rating=restaurant.rating}}
          <!-- make more semantic -->
          <div class="address">{{restaurant.vicinity}}</div>
          <!-- <div class="keywords">
            {{#each restaurant.types as |type|}}
              {{type}}
            {{/each}}
          </div> -->
        </div>
        <div class="search-result-sub">
          <div class="text-right">{{restaurant.distance}}</div>
          <div class="text-right">{{price-level price=restaurant.price_level}}</div>
        </div>
      </div>
    </div>
  </div>
  <hr />
{{/each}}
