<!-- detail page -->
{{ log model }}
<h1>{{model.name}} <small>(open)</small></h1>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyCBKFEXuIhChNRqDZKJj_Um8sLNYn44q-U" width="400" height="300">
<h3>Address</h3>
{{{model.address}}}
<div class="rating">
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
</div>
<div class="price">
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
</div>
<h3>Contact</h3>
<div>
  <p>phone: <a href="tel:{{model.phone}}">{{model.phone}}</a></p>
  <p>phone (international): <a href="tel:{{model.phone_intl}}">{{model.phone_intl}}</a></p>
  <p>website: <a href="{{model.website}}">{{model.website}}</a></p>
</div>
<h3>Hours</h3>
<div>
  {{#each model.schedule as |day| }}
    <p>{{day}}</p>
  {{/each}}
</div>
<h2>Photos</h2>
{{thumbs-list
  class="thumbnails"
  thumbs=model.photos }}
{{outlet}}
<h2>Recent Reviews</h2>
<div class="reviews">
  {{#each model.reviews as |review| }}
  <div class="review media">
    <div class="media-left">
      <img class="media-object" src="{{review.avatar}}?sz=64" alt="{{review.author}}">
    </div>
    <div class="media-body">
      <h2>{{review.author}} <small>{{review.date}}</small></h2>
      <div class="rating">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <p>{{review.review}}</p>
    </div>
  </div>
  <hr />
  {{/each}}
  <button class="btn btn-primary">Leave a Review</button>
</div>
