<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-filter"></span>
    <label for="keyword-input" class="input-label">Keyword</label>
  </span>
  <input id="keyword-input" type="text" class="form-control" placeholder="Chinese">
</div>

<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-map-marker"></span>
    <label id="location-label"  class="input-label">Location</label>
  </span>
  <input id="location-input" type="text" class="form-control" placeholder="City, State OR ZipCode">
</div>

<button class="btn btn-primary btn-right">Search For Restaurants</button>
<!-- google static map location for address, link to website, phone number etc... -->
<!-- https://developers.google.com/places/web-service/search -->
<!-- https://developers.google.com/places/web-service/details -->
<!-- can probably use radar search, and list views, start with list -->
<!-- make sure to show attributions for photos -->

<hr />
{{#each model as |restaurant| }}
  <div class="media search-result">
    <div class="media-left">
       <div class="search-result-image-wrapper">
        <a href="#">
          {{#link-to "detail" restaurant.place_id}}
            {{#if restaurant.photo.src}}
              <img class="media-object" src="{{restaurant.photo.src}}">
            {{else}}
              <img class="media-object" src="http://placehold.it/64x64">
            {{/if}}
          {{/link-to}}
        </a>
      </div>
    </div>
    <div class="media-body">
      <!-- search result -->
      <div class="search-result-body">
        <div class="search-result-main">
          <h4 class="media-heading">
            {{#link-to "detail" restaurant.place_id}}
              {{restaurant.name}}
            {{/link-to}}
            <small>(
              {{#if restaurant.open }}
                open
              {{else}}
                closed
              {{/if}}
              )
            </small>
          </h4>
          {{rating-static rating=restaurant.rating}}
          <!-- make more semantic -->
          <div class="address">{{restaurant.vicinity}}</div>
          <!-- <div class="keywords">
            {{#each restaurant.types as |type|}}
              {{type}}
            {{/each}}
          </div> -->
        </div>
        <div class="search-result-sub">
          {{#if restaurant.price_level}}
            <div class="price">
              <span class="glyphicon glyphicon-usd"></span>
              <span class="glyphicon glyphicon-usd"></span>
              <span class="glyphicon glyphicon-usd"></span>
              <span class="glyphicon glyphicon-usd"></span>
              <span class="glyphicon glyphicon-usd"></span>
            </div>
          {{else}}
            Price level not available
          {{/if}}
          <div class="text-right">{{restaurant.distance}}</div>
        </div>
      </div>
    </div>
  </div>
  <hr />
{{/each}}

{{outlet}}
