<form {{action "search" on="submit"}}>
  <!-- <button {{action "useCurrentPosition" }}>Use my current Location</button> -->
  <label class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-map-marker"></span>
      <span class="input-label">Location</span>
    </span>
    {{place-autocomplete-field
      id="location-label"
      value=model.place_name
      disable=false
      handlerController= this
      inputClass='form-control place-autocomplete--input'
      placeChangedCallback='placeChanged'
      restrictions= restrictionsObjectFromController
    }}
  </label>
  <label class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-filter"></span>
      Keyword
    </span>
    {{input
      id="keyword-input"
      type="text"
      class="form-control"
      placeholder="Type of cuisine etc..."
      value=model.keyword
    }}
  </label>
  <button class="btn btn-primary btn-right">Search For Restaurants</button>
</form>
<!-- google static map location for address, link to website, phone number etc... -->
<!-- https://developers.google.com/places/web-service/search -->
<!-- https://developers.google.com/places/web-service/details -->
<!-- can probably use radar search, and list views, start with list -->
<!-- make sure to show attributions for photos -->

<hr />
{{outlet}}
