<form {{action "search" on="submit"}}>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-filter"></span>
      <label for="keyword-input" class="input-label">Keyword</label>
    </span>
    {{input
      id="keyword-input"
      type="text"
      class="form-control"
      placeholder="Chinese"
      value=model.keyword
    }}
  </div>
  <button {{action "useCurrentPosition" }}>Use my current Location</button>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-map-marker"></span>
      <label id="location-label"  class="input-label">Location</label>
    </span>
    {{place-autocomplete-field
      value= model.location
      disable=false
      handlerController= this
      inputClass='form-control place-autocomplete--input'
      focusOutCallback='done'
      placeChangedCallback='placeChanged'
      types='(cities)'
      restrictions= restrictionsObjectFromController
      withGeoLocate= true
    }}
  </div>
  <button class="btn btn-primary btn-right">Search For Restaurants</button>
</form>
<!-- google static map location for address, link to website, phone number etc... -->
<!-- https://developers.google.com/places/web-service/search -->
<!-- https://developers.google.com/places/web-service/details -->
<!-- can probably use radar search, and list views, start with list -->
<!-- make sure to show attributions for photos -->

<hr />
{{outlet}}
